.grid {
  background-color: #F2FBFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.input {
  background-color: white;
  outline: none;
  padding: .7rem .5rem;
  width: 50%;
  border-radius: 10px;
  border: 1.5px solid black;
  min-width: 180px;
  max-width: 400px;
  color: black;
  margin: 0 auto;
}
::placeholder {
  color: black;
}

.wrapp {
  background-color: #F2FBFF;
  border-top: 1px solid black;
}

.img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: block;
  position: absolute;
  margin-left: 1rem;
  top: 0;

  margin-top: 24px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  position: relative;
}

@media  screen and (max-width: 450px) {
  .grid {
    gap: 1rem;
    row-gap: 1rem;
    padding: 2rem .2rem;
  }
}