.header {
  display: flex;
  justify-content: space-around;
  margin: .5rem 0 0 .5rem;
}

.username {
  padding: .2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: .5rem 0.5rem 0 0;
  padding: .2rem;
  background-color: white;
  border: 1px solid black;
}