.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.photo_url {
  border-radius: 20px;
  width: 43px;
  height: 43px;
  background-color: black;
}