.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.photo_url {
  border-radius: 20px;
  width: 43px;
  height: 43px;
  background-color: black;
}